<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Library</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<a th:href="@{/}">Back to Main Page</a>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>Tag</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="book: ${library}">
            <td th:text="${book.bookid}" />
            <td th:text="${book.bookname}" />
            <td th:text="${book.author}" />
            <td th:text="${book.price}" />
            <td th:text="${book.tag}" />
            <td><a th:href="@{/app/book/remove(id=${book.bookid})}">Delete</a></td>
            <td><a th:href="@{/app/book/register(id=${book.bookid})}">Edit</a></td>
        </tr>
    </tbody>
</table>


</body>
</html>